*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

img{
    border: 0;
}
#top{
    margin: 0 auto;
    clear: both;
    width: 1200px;
    height: 32px;
    color: #999999;
    background: #f2f2f2;
}
.login{
    margin-right: 30px;
    height: 32px;
    text-align: center;
    font-size: 12px;
    line-height: 32px;
    color: #999999;
    float: left;
}
.mini-menu{
    width: 74px;
    height: 32px;
    text-align: center;
    font-size: 12px;
    line-height: 32px;
    margin-left: 10px;
    float: right;
}
.mini-menu:hover{
    background: #ffffff;
    color: #ff0000;
}
.mini-menu:hover .menu-bd{
    display: block;
}
#space {
    width: 0;
    border-left: 1px solid #cccccc;
}
.menu-bd{
    width: 96px;
    height: 57px;
    display: none;
    border: solid #eeeeee;
    border-width: 0 1px 1px;
}
.menu-bd a{
    display: inline-block;
    height: 20px;
    line-height: 20px;
    color: #999999;
}
.menu-bd a:hover{
    color: #ff0000;
}
#menu-1 a{
    width: 72px;
}
#menu-2{
    width: 84px;
    height: 57px;
}
#menu-2 a{
    width: 62px;
}
.menu-bd span{
    text-align: left;
    padding-left: 24px;
    display: block;
    height: 28px;

}
#menu-3{
    width: 144px;
    height: 230px;
}
#logo img{
    margin: 1px;
    display: block;
    float: left;
    width: 240px;
    height: 130px;
}
.header-banner{
    float: right;
    width: 200px;
    height: 70px;
    padding: 20px 0 0 80px;
}
.header-banner img{
    width: 190px;
    height: 80px;
}
#mallSearch{
    float: right;
    width: 450px;
    height: 38px;
    padding-top: 38px;

}
#mallSearch .mallSearch-form{
    border-width: 2px 0 2px 2px;
    border: solid #ff0036;
}
.s-combobox-input-wrap input{
    clear: both;
    display: inline-block;
    width: 268px;
    height: 26px;
    border: 0;
    padding: 5px 3px 5px 5px;
}
#mallSearch .button{
    float: right;
    width: 132px;
    height: 36px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 5px;
    border: 0;
    color: #ffffff;
    background: #ff0036;
}
