*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

img{
    border: 0;
}
#top{
    position: relative;
    z-index: 999;
    margin: 0 auto;
    clear: both;
    width: 1200px;
    height: 32px;
    color: #999999;
    background: #f2f2f2;
}
.login{
    margin-right: 30px;
    height: 32px;
    text-align: center;
    font-size: 12px;
    line-height: 32px;
    color: #999999;
    float: left;
}
.mini-menu{
    width: 74px;
    height: 32px;
    text-align: center;
    font-size: 12px;
    line-height: 32px;
    margin-left: 10px;
    float: right;
    /*background: #ffffff;*/
}
.mini-menu:hover{
    color: #ff0000;
}
.mini-menu-1:hover{
    background: #ffffff;
}
.mini-menu:hover .menu-bd{
    display: block;
}
#space {
    width: 0;
    border-left: 1px solid #cccccc;
}
.menu-bd{
    width: 96px;
    height: 57px;
    overflow: hidden;
    /*display: none;*/
    border: solid #eeeeee;
    border-width: 0 1px 1px;
    background: #ffffff;
}
.menu-bd a{
    display: inline-block;
    height: 20px;
    line-height: 20px;
    color: #999999;
}
.menu-bd a:hover{
    color: #ff0000;
}
#menu-1 a{
    width: 72px;
}
#menu-2{
    width: 84px;
    height: 57px;
}
#menu-2 a{
    width: 62px;
}
#menu-3 h4{
    text-align: left;
    display: block;
    height: 20px;

}
#menu-3{
    width: 120px;
    height: auto;
    line-height: 20px;
    padding: 8px 10px;
}
#menu-3 li{
    margin-right: -20px;
}
#list-1{
    width: 120px;
    border-top:1px dotted #827777;
    border-bottom: 1px dotted #827777;
    padding: 5px 0;

}
#sitemap-friend{

    margin-right: 12px;
}
.sitemap-right{
    margin-right: 20px;
}
.header-extra {
    width: 1200px;
    height: 130px;
    margin: 0 auto;
}
#logo img{
    margin: 1px;
    display: block;
    float: left;
    width: 240px;
    height: 130px;
}
.header-banner{
    float: right;
    width: 200px;
    height: 70px;
    padding: 20px 0 0 80px;
}
.header-banner img{
    width: 190px;
    height: 80px;
}
#mallSearch{
    float: right;
    width: 450px;
    height: 38px;
    padding-top: 38px;

}
#mallSearch .mallSearch-form{
    border-width: 2px 0 2px 2px;
    border: solid #ff0036;
}
.s-combobox-input-wrap input{
    clear: both;
    display: inline-block;
    width: 268px;
    height: 26px;
    border: 0;
    padding: 5px 3px 5px 5px;
}
#mallSearch .button{
    float: right;
    width: 132px;
    height: 36px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 5px;
    border: 0;
    color: #ffffff;
    background: #ff0036;
}
.hot-query{
    height: 24px;
    font-size: 14px;
    padding: 4px 0 0;
    width: 100%;
}
.hot-query li{
    display: inline-block;
    border-right: 1px solid #cccccc;
    padding: 0 12px;
}
.hot-query a{
    color: #cccccc;
}
.hot-query .hot-query-highlight{
    color: #ff0036;
}
#hot-query-last{
    border-right: 0;
}
