*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

img{
    border: 0;
}
#top{
    width: 1230px;
    color: #999999;
    background: #f2f2f2;
    display: inline-block;
}
.login{
    margin-right: 30px;
    height: 32px;
    text-align: center;
    font-size: 12px;
    line-height: 32px;
    color: #999999;
    float: left;
}
.mini-menu{
    height: 32px;
    text-align: center;
    font-size: 12px;
    line-height: 32px;
    margin-left: 30px;
    float: right;
}
#space{
    border-left: 1px solid #cccccc;

}